<main role="main" class="container">

<div class="starter template">
<h1>About Us</h1>
<p> We are extremely passionate about plants. We are dedicated to providing the best shopping experience for our customers. </p>
</div>

</main>
